<!DOCTYPE html>
    <html lang="fr">
        <head>
            <meta charset="utf-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            {% block stylesheets %}
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
                <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
                <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css">
                <link rel="stylesheet" href="{{ asset('fonts.css') }}">
                <link rel="stylesheet" href="{{ asset('media.css') }}">
                <link rel="stylesheet" href="{{ asset('nav.css') }}">
                <link rel="stylesheet" href="{{ asset('footer.css') }}">
            {% endblock %}

            <title>Le musée du Louvre</title>
        </head>
            
        <body>

            {% block nav %}
            {% endblock %}

            {% block header %}
            {% endblock %}

            {% block body %}
            {% endblock %}

            <footer class="footer">
                <div class="container">
                    <span class="text-muted">Copyright &copy; Le musée du Louvre 2018</span>
                </div>
            </footer>

            {% block scripts %}
                <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
                <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
                <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
            {% endblock %}

        </body>
    </html>

