/* CHECKOUT */

body {
	min-height: 100vh;
	position: relative;
	background:url('../images/musee.jpg');
	background-repeat:no-repeat;
	background-position:center center;
	background-attachment:scroll;
	background-size:cover
}

#checkout {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#transparency {
	padding: 40px;
	background-color: rgba(255, 255, 255, 0.7);
}

.icons {
	margin-right: 20px;
	color: #d1961f;
}

.rounded-pill {border-radius:5rem}

.btn-light {
	border: 3px solid #0046B2;
}

.btn-light:hover {
	border: 3px solid #0064FF;
}

.btn-primary {
  margin-top: 1rem;
  background-color: #0046B2;
  border-color: #0046B2;
}

.btn-primary:hover {
  background-color: #0064FF;
}