<div class="col-lg-2">
	<div class="card mb-4 text-center">
    	<h3 class="card-title">Billet Journée</h3>
    	<div class="card-body">
  			<p class="card-text">Vous permet d'accéder au musée dès son ouverture jusqu'à sa fermeture.</p>
    	</div>
  	</div>
</div>
<div class="col-lg-2">
	<div class="card mb-4 text-center">
		<h3 class="card-title">Billet Demi-Journée</h3>
		<div class="card-body">
  			<p class="card-text">Vous permet d'accéder au musée à partir de 14h00 jusqu'à sa fermeture.</p>
    	</div>
  	</div>
</div>