<div class="boxes-container text-center">
    <div class="boxes">
        <div class="box">
            <h3 class="box-title">Enfant</h3>
            <div class="box-body">
                <p class="box-price">8€*</p>
                <div class="box-footer">
                    <p>* De 4 à 12 ans et gratuit pour les moins de 4 ans</p>
                </div>
            </div>
        </div>
    </div>
    <div class="boxes">
        <div class="box">
            <h3 class="box-title">Normal</h3>
            <div class="box-body">
                <p class="box-price">16€*</p>
                <div class="box-footer">
                    <p>* A partir de 12 ans</p>
                </div>
            </div>
        </div>
    </div>

    <div class="boxes">
        <div class="box">
            <h3 class="box-title">Senior</h3>
            <div class="box-body">
                <p class="box-price">12€*</p>
                <div class="box-footer">
                    <p>* A partir de 60 ans</p>
                </div>
            </div>
        </div>
    </div>
    <div class="boxes">
        <div class="box">
            <h3 class="box-title">Réduit</h3>
            <div class="box-body">
                <p class="box-price">10€*</p>
                <div class="box-footer">
                    <p>* Sur présentation d'un justificatif: étudiants, personnes handicapées, militaire, etc</p>
                </div>
            </div>
        </div>
    </div>
</div>