<div class="col-lg-2">
    <div class="card mb-4 text-center">
        <h3 class="card-title">Enfant</h3>
        <div class="card-body">
            <p class="card-text">8€*</p>
            <div class="card-footer">
                <p class="card-text">* De 4 à 12 ans et gratuit pour les moins de 4 ans</p>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-2">
    <div class="card mb-4 text-center">
        <h3 class="card-title">Normal</h3>
        <div class="card-body">
            <p class="card-text">16€*</p>
            <div class="card-footer">
                <p class="card-text">* A partir de 12 ans</p>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-2">
    <div class="card mb-4 text-center">
        <h3 class="card-title">Senior</h3>
        <div class="card-body">
            <p class="card-text">12€*</p>
            <div class="card-footer">
                <p class="card-text">* A partir de 60 ans</p>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-2">
    <div class="card mb-4 text-center">
        <h3 class="card-title">Réduit</h3>
        <div class="card-body">
            <p class="card-text">10€*</p>
            <div class="card-footer">
                <p class="card-text">* Sur présentation d'un justificatif: étudiants, personnes handicapées, militaire, etc</p>
            </div>
        </div>
    </div>
</div>