<div class="col-lg-2">
    <div class="card mb-4 text-center">
        <h3 class="card-title">Adresse</h3>
        <div class="card-body">
            <div class="card-text">
                <p>Rue de Rivoli, 75001 Paris</p>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-2">
	<div class="card mb-4 text-center">
    	<h3 class="card-title">Ouvertures du musée</h3>
    	<div class="card-body">
            <div class="card-text">
                <p>Jours d'ouverture: lundi, mercredi, jeudi, vendredi, samedi et dimanche</p>
                <p>Horaires: 09h00 - 18h00</p>
            </div>
    	</div>
  	</div>
</div>
<div class="col-lg-2">
	<div class="card mb-4 text-center">
		<h3 class="card-title">Fermetures du musée</h3>
		<div class="card-body">
  			<p class="card-text">Jours de fermeture: le 1er Mai, 1er Novembre, 25 Décembre et tous les mardis</p>
    	</div>
  	</div>
</div>