<div class="boxes-container text-center">
    <div class="boxes">
        <div class="box">
            <h3 class="box-title">Adresse</h3>
            <div class="box-body">
                <div class="box-text">
                    <p>Rue de Rivoli, 75001 Paris</p>
                </div>
            </div>
        </div>
    </div>

    <div class="boxes">
        <div class="box">
            <h3 class="box-title">Ouvertures du musée</h3>
            <div class="box-body">
                <div class="box-text">
                    <p>Jours d'ouverture: lundi, mercredi, jeudi, vendredi, samedi et dimanche</p>
                    <p>Horaires: 09h00 - 18h00</p>
                </div>
            </div>
        </div>
    </div>

    <div class="boxes">
        <div class="box">
            <h3 class="box-title">Fermetures du musée</h3>
            <div class="box-body">
                <div class="box-text">
                    <p>Jours de fermeture: le 1er Mai, 1er Novembre, 25 Décembre et tous les mardis</p>
                </div>
            </div>
        </div>
    </div>
</div>