<div class="boxes-container">
    <div class="boxes">
        <div class="box text-center">
            <h3 class="box-title">Adresse</h3>
            <div class="box-body">
                <p>Rue de Rivoli, 75001 Paris</p>
            </div>
        </div>
    </div>

    <div class="boxes">
        <div class="box">
            <h3 class="box-title text-center">Ouvertures du musée</h3>
            <div class="box-body">
                <p><u>Jours d'ouverture:</u> lundi, mercredi, jeudi, vendredi, samedi et dimanche</p>
                <p><u>Horaires:</u> 09h00 - 18h00</p>
            </div>
        </div>
    </div>

    <div class="boxes">
        <div class="box">
            <h3 class="box-title text-center">Fermetures du musée</h3>
            <div class="box-body">
                <p><u>Jours de fermeture:</u> le 1er Mai, 1er Novembre, 25 Décembre et tous les mardis</p>
            </div>
        </div>
    </div>
</div>