<div class="boxes-container text-center">
	<div class="boxes">
        <div class="box">
            <h3 class="box-title">Billet Journée</h3>
            <div class="box-body">
                <p class="box-text">Vous permet d'accéder au musée dès son ouverture jusqu'à sa fermeture.</p>
            </div>
        </div>
  	</div>
	<div class="boxes">
        <div class="box">
            <h3 class="box-title">Billet Demi-Journée</h3>
            <div class="box-body">
                <p class="box-text">Vous permet d'accéder au musée à partir de 14h00 jusqu'à sa fermeture.</p>
            </div>
        </div>
  	</div>
</div>