{% extends "@LouvreBooking/layout.html.twig" %}

{% block booking_tickets %}
	<div class="col-lg-2">
		<div class="card mb-4 text-center">
        	<h3 class="card-title">Billet Journée</h3>
        	<div class="card-body">
      			<p class="card-text"></p>
      			<div class="card-footer">
      				<a class="btn btn-dark" href="#" title="Billet Journée">Plus d'infos</a>
      			</div>
        	</div>
      	</div>
	</div>
	<div class="col-lg-2">
		<div class="card mb-4 text-center">
			<h3 class="card-title">Billet Demi-Journée</h3>
    		<div class="card-body">
      			<p class="card-text"></p>
      			<div class="card-footer">
      				<a class="btn btn-dark" href="#" title="Billet demi-journée">Plus d'infos</a>
      			</div>
        	</div>
      	</div>
	</div>        
{% endblock %}

{% block booking_prices %}
	<div class="col-lg-2">
		<div class="card mb-4 text-center">
        	<h3 class="card-title">Normal</h3>
        	<div class="card-body">
      			<p class="card-text"></p>
      			<div class="card-footer">
      				<a class="btn btn-dark" href="#>" title="Tarif normal">Plus d'infos</a>
      			</div>
        	</div>
      	</div>
	</div>
	<div class="col-lg-2">
		<div class="card mb-4 text-center">
			<h3 class="card-title">Enfant</h3>
    		<div class="card-body">
      			<p class="card-text"></p>
      			<div class="card-footer">
      				<a class="btn btn-dark" href="#" title="Tarif enfant">Plus d'infos</a>
      			</div>
        	</div>
      	</div>
	</div>
	<div class="col-lg-2">
		<div class="card mb-4 text-center">
        	<h3 class="card-title">Senior</h3>
        	<div class="card-body">
      			<p class="card-text"></p>
      			<div class="card-footer">
      				<a class="btn btn-dark" href="#" title="Tarif sénior">Plus d'infos</a>
      			</div>
        	</div>
      	</div>
	</div>
	<div class="col-lg-2">
		<div class="card mb-4 text-center">
			<h3 class="card-title">Réduit</h3>
    		<div class="card-body">
      			<p class="card-text"></p>
      			<div class="card-footer">
      				<a class="btn btn-dark" href="#" title="Tarif réduit">Plus d'infos</a>
      			</div>
        	</div>
      	</div>
	</div>
{% endblock %}

{% block booking_steps %}

    {{ include("@LouvreBooking/Booking/form.html.twig") }}
	
{% endblock %}