/* ERROR */

body {
	min-height: 100vh;
	position: relative;
	background:url('images/mona_lisa.jpg');
	background-repeat:no-repeat;
	background-position:center center;
	background-attachment:scroll;
	background-size:cover
}

#error {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#transparency {
	padding: 40px;
	background-color: rgba(255, 255, 255, 0.5);
}

.rounded-pill {border-radius:5rem}