/* GENERAL */

.btn-xl {text-transform:uppercase;padding:1.5rem 3rem;font-size:.9rem;font-weight:700;letter-spacing:.1rem}

.rounded-pill {border-radius:5rem}

header.masthead {position:relative;overflow:hidden;min-height: 100vh;padding-top:25vh;padding-bottom:25vh;background:url('images/louvre.jpg');background-repeat:no-repeat;background-position:center center;background-attachment:scroll;background-size:cover}

header.masthead .masthead-content {z-index:1;position:relative}

header.masthead .masthead-content .masthead-heading{font-size:6rem}

header.masthead .masthead-content a{color:white;background-color: #b76e0e;border: 5px double #844f09;}

header.masthead .masthead-content a:hover{color: white;background-color: #844f09;border: 5px double #844f09;box-shadow: none;}

#main {
  background-image: url('images/encre.png'), url('images/parchemin.jpg');
  background-repeat: no-repeat, repeat;
  background-attachment: scroll;
  border-radius: 1rem;
}

/* SECTIONS */

.sectionTitle {
  padding-bottom: 30px;
}

#usefulInformations, #typeTicket, #priceTicket {
  box-shadow: 0px 8px 12px #845602;
  padding-top: 65px;
  padding-bottom: 65px;
}

#booking {
  padding-top: 65px;
  padding-bottom: 30px;
}

/* BOXES */

.boxes-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.boxes {
  width: 20%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  background-color: rgba(255,255,255,0.4);
  border-left: 1px solid #d1961f;
  border-right: 1px solid #d1961f;
}

.box {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.box-title {
  border-bottom: 2px solid rgba(209,150,31,0.4);
  padding-bottom: 30px;
  margin-bottom: 30px;
}

/* FORM */

#step1 .row, #step2 .row, #step3 .row, #step5 .row {
  align-items: center;
}

label {
  margin-bottom: unset;
}

#visitorForm, #emailForm {
  color: #0064FF;
}

#visitorForm:hover, #emailForm:hover {
  color: #0046B2;
}

.validate_step {
  justify-content: center;
}

#louvre_bookingbundle_buyer_date {
  padding: 0.375rem 0.75rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

#louvre_bookingbundle_buyer_bookings label {
  margin-bottom: 0.8rem;
}

#louvre_bookingbundle_buyer_bookings input, #louvre_bookingbundle_buyer_bookings select {
  margin-bottom: 1rem;
}

input[type="checkbox"] {
  margin-left: 10px;
}

.btn-primary {
  margin-top: 1rem;
  background-color: #0064FF;
  border-color: #0064FF;
}

.btn-primary:hover {
  background-color: #0046B2;
}

/* ERRORS */

.error span{
  min-width: 100%;
}

.flashMessage {
  justify-content: center;
}