/* NAVIGATION */

.navbar {
  background-color: rgba(255, 255, 255, 0.8);
}

#logo {
  width: 100px;
  height: 40px;
}

.navbar-brand {
  padding-top: 0px;
  font-size: 1.3em;
  font-weight: bold;
}

.nav-item {
  margin-left: 20px;
  border: 2px solid white;
  border-radius: 10px;
}

.nav-item:hover {
  color: #BF0300;
  border: 2px solid #BF0300;
}

.dropdown-item:hover {
  color: #BF0300;
}

.dropdown-item:focus {
  background-color: white;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #BF0300;
}