/* NAVIGATION */

.navbar {
  background-color: rgba(255, 255, 255, 0.8);
}

#slogan {
  font-weight: bold;
}

#logo {
  width: 100px;
  height: 40px;
}

.navbar-brand {
  padding-top: 0px;
  font-size: 1.3em;
  font-weight: bold;
}

.nav-item {
  margin-left: 20px;
  border: 2px solid white;
  border-radius: 10px;
}

.nav-item:hover {
  border: 2px solid #b76e0e;
}